.DS_Store

# IDE Files
#-------------------------
/nbproject/
.idea/

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/.htaccess
!**/.gitkeep

/application/config/constants.php
/application/config/config.php
/application/config/database.php
/application/config/autoload.php
/application/config/development.php

/uploads/*
!/uploads/**/index.html
!/uploads/interpreters/user-icon.png
!/uploads/users/user-icon.png

/package.json
/package-lock.json
/node_modules/

/config_files.zip
/vendor/
/socket-test/
/composer.lock

# files not used anymore
/application/controllers/Clients.php
/robots.txt
